@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,700;1,100;1,200&family=Poppins:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Josefin+Sans:ital,wght@0,200;0,400;0,700;1,100;1,200&family=Poppins:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Josefin+Sans:ital,wght@0,200;0,400;0,700;1,100;1,200&family=Poppins:wght@100&display=swap');

* {

	padding: 0px;
	margin: 0px;
	text-decoration: none !important;

}

body {
	font-family: 'Poppins', cursive !important;
	font-weight: bold;
	
}

::selection {
	color: blanchedalmond;
	background-color: gray;
}

.fotoPrincipal {
	width: 100vw;
}

.fotoPrincipal img {
	width: 100vw;
}


.menu-principal {
	height: 150px;
	background-color: #333;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;	
	border-bottom: brown 4px solid;
	text-decoration: none;
}

#logo-menu-principal {
	position: fixed;
	height: 100px;
	position: absolute;
	top: 20px;
	left: 225px;
	border-radius: 50%;
}

#logo-menu-principal2 {
	height: 100px;
	position: absolute;
	top: 20px;
	left: 1500px;
	border-radius: 10px;
}


#logo-menu-principal:hover {
	opacity: 0.5;
}

h3 {
	font-family:  'Poppins', sans-serif;
}

nav > h3{
	height: 100px;
	position: absolute;
	top: 120px;
	left: 260px;
	font-weight: 400px;
	margin-top: -3px;

	color: coral;
}

.menu {
	display: flex;
	gap: 32px;
	
}

.menu-item {
	font-family: 'Sarala', sans-serif;
	font-weight: 400;
    font-size: 18px;
    color: orange;
}

.menu-item:hover {
	border-bottom: #ff0000 3px solid;
	color: orange;
}

.menu > input[type="text"] {
	position: relative;
	top: -5px;
	border: none;
	border: 2px solid  antiquewhite;
	border-radius: 50px;
	background-image: url('https://www.w3schools.com/howto/searchicon.png');
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding: 12px 20px 12px 40px;
}


main {font-family: 'Sarala', sans-serif;}



.padoka  {
	margin-top: -26px;
	background-color: rgb(239, 230, 218);
}

.padoka .conteudo-principal-ecrito  {
	text-align: center;
	font-family: 'Beau Rivage', cursive;
	font-weight: normal;
	font-size: 64px;
}

.padoka .foto-texto {
	display: flex;
}

.padoka p {
	margin-left: 5px;
	font-family:'Poppins', cursive;
	font-weight: bold;
}

.padoka .xicara {
	border-radius: 10px;
	box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
	padding: 10px;
  
}

.padoka .xicara {
	transition: 0.5s;
}


.penultimoFooter div {
	display: flex;
	justify-content: space-around;
}

.penultimoFooter div p {
	margin-top: -5px;
}

.penultimoFooter {
	
	font-family: 'Poppins', cursive;
	background-color: #333;
	font-weight: normal;
	color: #fff;	
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 200px;
}
.penultimoFooter .redesSociais img {
	margin-top: 10px;
	height: 25px;
}

.penultimoFooter p:hover {
	color: orange;
}

.penultimoFooter .final:hover {
	color: orange;
}

.penultimoFooter .redesSociais img:not(:last-child){
	margin-right: 10px;
}

 .penultimoFooter .redesSociais img:hover {
	opacity: 0.5;
}

.ultimoFooter {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', cursive;
	background-color: #333;
	border-top: #fff solid 1px;
	font-weight: normal;
	
	color: #fff;	
	height: 50px;
}


.penultimoFooter article a {
	font-family: 'Poppins', cursive;
	font-weight: normal;
	color: #fff;	
}

.ultimoFooter h3 {
	text-align: center;
}

.ultimoFooter p {
	top: 30px;
	margin-left: 5px;
}

.ultimoFooter p:hover {
	color: orange;
}

.ultimoFooter div {
	display: inline-block;
	
}
